body{
    margin: 0px;
    padding: 0px;
    font-family:'Roboto', sans-serif;
}
.top-area{
    background-image: url("images/dot.png");
    background-repeat: no-repeat;
    background-position:top;
    height: 250px;
}
.logo{
    padding-top: 20px;
    padding-left: 40px;
}
.top-text h1{
    font-family: 'Lobster', cursive;
    font-size: 140px;
    margin-bottom: 0px;
    margin-top: 60px;
}
.top-text p{
    color: rgb(110, 110, 110);
    font-weight: 500;
}
.top-text{
    width: 30%;
    padding-left: 40px;
}

.image-area{
    text-align: center;
    margin-top: 200px;
    padding: 0px;
}





.highlight{
    color:orange;
    text-decoration: none;
}
.bottom-area{
    text-align: center;
    background-color: #f2fbfb;
    margin-top: 0px;
}
.loading{
    color: rgb(46, 46, 46);
    font-size: 20px;
    letter-spacing: 20px;
}
#num{
    color: rgb(77, 77, 77);
    font-weight: 600;
    font-size: 50px;
}
#contact-me{
    color: rgb(77, 77, 77);
    font-weight: 300;
    font-size: 14px;
    width: 33.33%;
    margin-left: 33.33%;
    text-align: center;
}
#site h3{
    letter-spacing: 5px;
    margin-top: 20px;
    display: inline-block;
    padding-left: 20px;
    font-size: 15px;
}